*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: 8FC0A9;
    color: white;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 35vw;
    gap: 10px;
}
.box{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 30vmin;

}


.box .image{
    background-image: url("/scorpian.jpg");
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.box.hovered{
    border: 2px dashed black;
}